*{
    font-family: lato;
    color: whitesmoke;
    background-image:linear-gradient(rgba(0, 0, 0, 0.601), rgba(0, 0, 0, 0.568)), url("joeps.jpg");

    background-position: center;
    background-size: cover ;
    background-attachment: fixed;
    scroll-behavior: smooth;    
}

::-webkit-scrollbar {
    width:0;
}

#scrollpath{
    position: fixed;
    top:0;
    right:0;
    width: 10px;
    height: 100%;
    border-radius: 100vw;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar{
    position: fixed;
    top:0;
    right:0;
    width: 10px;
    height: 100%;
    border-radius: 100vw;
    background: linear-gradient(to top,rgb(154, 0, 154),rgb(24, 19, 130));
    animation: animate 5s linear infinite;
}

@keyframes animate {

    0%,100%
    {
        filter: hue-rotate(0deg);
    }

    50%
    {
        filter: hue-rotate(360deg);
    }
}

#progressbar:before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, violet,black);
    filter: blur(30px)

}

#progressbar:after{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, violet,black);
    filter: blur(30px)

}


h2{
    margin-top: 40px;
    font-family: lato black;
}

h3{
    font-family: lato black;
}

form{
    padding: 70px;
}

.topt{
    padding: 20px;
}

.aboutus{
    padding:20px;
}

.imgs ul li{
    margin: 15px;
    list-style: none;
}

.imgs ul{
    display: flex;
    padding: 5px;
}

.imgs{
    padding: 20px;
}

.sm{
    margin: 20px;
    font-size: 20px;
    padding: 20px;
}

.sm  i{
    margin: 5px;
}